In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
test_df=pd.read_csv("D:/Personal/loan_data/test.csv")

In [3]:
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [4]:
test_df.shape

(367, 12)

In [5]:
test_df.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
test_df['Dependents'].replace('3+',3,inplace=True)

In [7]:
#Fill categorical null values by mode 
test_df['Gender'].fillna(test_df['Gender'].mode()[0],inplace=True)
# new_train['Married'].fillna(new_train['Married'].mode()[0],inplace=True)
test_df['Dependents'].fillna(test_df['Dependents'].mode()[0],inplace=True)
test_df['Self_Employed'].fillna(test_df['Self_Employed'].mode()[0],inplace=True)
test_df['Credit_History'].fillna(test_df['Credit_History'].mode()[0],inplace=True)
test_df['Loan_Amount_Term'].fillna(test_df['Loan_Amount_Term'].mode()[0],inplace=True)
#Because of outliers we will fill the null values by median
test_df['LoanAmount'].fillna(test_df['LoanAmount'].median(),inplace=True)

In [8]:
test_df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [10]:
test_df['LoanAmount_log']=np.log(test_df['LoanAmount'])

In [11]:
test_df=test_df.drop('Loan_ID',axis=1)

In [12]:
test_df=pd.get_dummies(test_df)

In [15]:
test_df.to_csv("D:/Personal/loan_data/test_1.csv",index=False)

In [16]:
test_df.shape

(367, 21)